.card{
  background-color: white;
  padding: 20px;
}

.pricing{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 20px;
  margin-top: 20px;
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-title {
  text-align: center;
  opacity: 0.7;

}

.card-price{
  text-align: center;
}

.pricing .card{
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}
ul{
  list-style: none;
}

ul li::before{
  content: '✓';
  font-weight: bolder;
}

ul li.text-muted::before{
  content: "X";
  }
.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .custom-btn {
  font-size: 80%;
  border-radius: 5rem;
  font-weight: bold;
  padding: 1rem;
  letter-spacing: .1rem;
  opacity: 0.7;
  transition: all 0.2s;
  width:100%;
  background-color: #33AEFF;
  cursor: pointer;
}

.card :hover .custom-btn{
  opacity: 1;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.card:hover {
  margin-top: -.25rem;
  margin-bottom: .25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

@media (min-width: 992px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .custom-btn {
    opacity: 1;
  }
}